<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include "global/partials/_head.html" %}
</head>
<body>
    <!-- loader global -->
    <div id="global-loader">
        <div class="spinner"></div>
        <div class="loader-text">Processando...</div>
    </div>
    {% block header %}{% endblock header %}
    

    <main class="content">
        {% block content %}{% endblock content %}
    </main>
    <!-- scripy loader global -->
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const loader = document.getElementById('global-loader');
        const forms = document.querySelectorAll('form');

        window.showLoader = function() {
            loader.style.display = 'flex';
        };

        window.hideLoader = function() {
            loader.style.display = 'none';
        };

        forms.forEach(form => {
            form.addEventListener('submit', function(e) {
                if (!form.checkValidity()) {
                    return;
                }

                if (form.hasAttribute('data-no-loader')) return;
                showLoader();

                const btn = form.querySelector('button[type="submit"]');
                if (btn) {
                    btn.disabled = true;
                    btn.innerText = 'Aguarde...';
                }
            });
        });
    });

    window.addEventListener("pageshow", function(event) {
        if (event.persisted) {
            window.hideLoader();
            const btns = document.querySelectorAll('button[type="submit"]');
            btns.forEach(btn => btn.disabled = false);
        }
    });
</script>
</body>
</body>
</html>